<!-- <mat-card *ngIf="assignmentTransmis">
  <mat-card-content>
    <mat-card-title>{{assignmentTransmis.nom}}</mat-card-title>
    <mat-card-subtitle>Date de rendu : {{assignmentTransmis.dateDeRendu | date: 'dd/MM/yy'}}</mat-card-subtitle>
  </mat-card-content>
  <mat-card-actions id="bottom">
    <mat-checkbox *ngIf="!assignmentTransmis.rendu" (click)="onAssignmentRendu()">
      Rendu
    </mat-checkbox>

    <button mat-raised-button color="primary" (click)="onEditAssignment()" [disabled]="!isLogged()">
      EDIT
    </button>

    <button mat-raised-button color="accent" (click)="onDeleteAssignment()">DELETE</button>
  </mat-card-actions>
</mat-card> -->

<div class="container">
<mat-card *ngIf="assignmentTransmis" class="card">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>{{assignmentTransmis.nom}}</mat-card-title>
      <mat-card-subtitle>Date de rendu : {{assignmentTransmis.dateDeRendu | date: 'dd/MM/yy'}}</mat-card-subtitle>
      <img mat-card-md-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"  alt="Image of a Shiba Inu">
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    <mat-card-actions id="bottom">
      <mat-checkbox *ngIf="!assignmentTransmis.rendu" (click)="onAssignmentRendu()">
        Rendu
      </mat-checkbox>
  
      <button mat-raised-button color="primary" (click)="onEditAssignment()" [disabled]="!isLogged()">
        EDIT
      </button>
  
      <button mat-raised-button color="accent" (click)="onDeleteAssignment()">DELETE</button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
</div>