#bottom {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.card {
    max-width: 800px;
    margin-bottom: 28px;
    height :auto;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
}