#bottom {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.card {
    margin-bottom: 28px;
    height :auto;
    width : 500px;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
    width : 1600px;
}