<!-- <h2>{{titre}}</h2> -->

<main class="container">


    <mat-divider></mat-divider>
    <!-- <p>
        Nb assignments total {{totalDocs}}, par page {{limit}}, nbPages
        {{totalPages}}
    </p> -->
    <!-- <p>
        <button (click)="premierePage()" [disabled]="!hasPrevPage">
            Première page
        </button>
        <button (click)="pagePrecedente()" [disabled]="!hasPrevPage">
            Page Précédente
        </button>
        <button (click)="pageSuivante()" [disabled]="!hasNextPage">Page Suivante</button>
        <button (click)="dernierePage()" [disabled]="!hasNextPage">
            Derniere page
        </button>
    </p> -->

    <h1 class="text-center">{{titre}}</h1>

    <!-- <mat-sidenav-container> -->
    <!-- <mat-sidenav mode="side" opened="true" position="start"> -->

    <div class="entete-liste-devoir">

        <div class="text-right" style="margin-right: 40px;">
            <p class="bouton-right">
                Régler nb par page :
                <input type="range" min="1" max="100" value="10" [(ngModel)]="limit" (change)="getAssignments()" />
                {{limit}}
            </p>
        </div>
        <div class="container2">
            <p></p>
            <div class="column1">
                <nav class="ajouterBtn">
                    <a routerLink="/add">
                        <button mat-flat-button color=""> Ajouter Devoir </button>
                    </a>
                </nav>
            </div>
            <div class="column2 text-right">
                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                    aria-label="Selection de la page des assigments" (page)="handlePage($event)"
                    class="demo-paginator entete-liste-devoir" [length]="totalPages" [pageSize]="limit"
                    [pageIndex]="page">
                </mat-paginator>
            </div>
        </div>


    </div>


    <!-- </mat-sidenav> -->
    <!-- <mat-sidenav-content> -->

    <table mat-table [dataSource]="assignments" class="mat-elevation-z8 demo-table" matSort>
        <!-- id Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- nom Column -->
        <ng-container matColumnDef="nom">
            <th mat-header-cell *matHeaderCellDef> Nom </th>
            <td mat-cell *matCellDef="let element"> 
                <a [routerLink]="'/assignments/' + element.id + '/edit'">{{element.nom}}</a>
            </td>
        </ng-container>

        <!-- dateDeRendu Column -->
        <ng-container matColumnDef="dateDeRendu">
            <th mat-header-cell *matHeaderCellDef> Date de rendu </th>
            <td mat-cell *matCellDef="let element">
                {{element.dateDeRendu | date:'dd/MM/yyyy'}}
            </td>
        </ng-container>

        <!-- rendu Column -->
        <ng-container matColumnDef="rendu">
            <th mat-header-cell *matHeaderCellDef> Rendu </th>
            <td mat-cell *matCellDef="let element"> {{element.rendu}}
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <!-- </mat-sidenav-content> -->
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Selection de la page des assigments"
        (page)="handlePage($event)" class="demo-paginator" [length]="totalPages" [pageSize]="limit" [pageIndex]="page">
    </mat-paginator>
    <!-- </mat-sidenav-container> -->
    <!-- <h1>Affichage avec mat-list / mat-list-item</h1>
    <mat-list *ngFor="let a of assignments">
        <a routerLink="/assignments/{{a.id}}">
            <h3 mat-subheader>Date limite: {{a.dateDeRendu | date: 'dd/MM/yy'}}</h3>
            <mat-list-item>
                <p appRendu *ngIf="a.rendu; else nonsoumis">
                    {{a.nom}} id = {{a._id}}
                </p>
                <ng-template #nonsoumis>
                    {{a.nom}} NON RENDU id = {{a._id}}
                </ng-template>
            </mat-list-item>
            <mat-divider></mat-divider>
        </a>
    </mat-list> -->

    <!-- <h1>Exemple de scrolling virtuel infini</h1>
    <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport"
        #scroller>
        <mat-list *cdkVirtualFor="let a of assignments">
            <a routerLink="/assignments/{{a.id}}">
                <h3 mat-subheader>Date limite: {{a.dateDeRendu | date:
                    'dd/MM/yy'}}</h3>
                <mat-list-item>
                    <p appRendu *ngIf="a.rendu; else nonsoumis">
                        {{a.nom}} id = {{a._id}}
                    </p>
                    <ng-template #nonsoumis>
                        {{a.nom}} NON RENDU id = {{a._id}}
                    </ng-template>
                </mat-list-item>
                <mat-divider></mat-divider>
            </a>
        </mat-list>
    </cdk-virtual-scroll-viewport> -->

</main>