@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

  .login-header {
    background: rgb(12, 77, 129);
    padding: 20px;
    font-size: 15px;
    font-weight: normal;
    text-align: right;
    color: #fff;
    width: 400px;
    line-height: 3;
  }

  .action-button {
    background: rgb(219, 111, 176);
    border-color: transparent;
    color: #fff;
    cursor: pointer;
    align-items: center;
}

.taille-champ
{
    width: 200px;
    height: 27px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
  
  .button-container {
    display: flex;
    justify-content: center;
  }
  

  .custom-button {
    width: 200px; 
    height: 40px; 
    background-color: #e616e9; 
    color: #0d1147; 
    background-color: rgb(233, 176, 85);
  }