@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.login-header {
    background: rgb(12, 77, 129);
    padding: 20px;
    font-size: 15px;
    font-weight: normal;
    text-align: right;
    color: #fff;
    width: 400px;
    line-height: 3;
    justify-content: center;
    margin: 0 auto;
  }

.form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.button-container {
    display: flex;
    justify-content: right;
    background-color :aliceblue;
    margin: 0 auto;
  }

  .mat-form{
    width: 350px;
    height : 90px;
  }