<form ngForm #assignmentForm (submit)="onSubmit($event); assignmentForm.reset()">  
<div class="container">
    <h1 class="app-title-login">
        <div class="login-header"> 
            <div class="mat-form">
                <mat-form-field class="form-field">
                    <input matInput [(ngModel)]="nomDevoir" name="nom" placeholder="Nom du devoir" required>
                  </mat-form-field>
            </div>
            <div class="mat-form">
                <mat-form-field appearance="fill" class="form-field">
                    <mat-label>Date de rendu</mat-label>
                    <input matInput [matDatepicker]="picker" [(ngModel)]="dateDeRendu" name="date" required>
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
            </div>
            <div >
                <button mat-stroked-button color="primary" class="button-container">
                    Ajouter devoir
                  </button>
            </div>
        </div>
    </h1>
</div>
</form> 