.form {
    width : 500px;
    flex-direction: column;
   }

.container {
    display: flex;
    justify-content: center;
    padding : 60px;
}

.login-header {
    background: rgb(12, 77, 129);
    padding: 50px;
    font-size: 15px;
    font-weight: normal;
    text-align: right;
    color: #fff;
    line-height: 3;
    justify-content: center;
    margin: 0 auto;
  }

  .mat-form{
    width: 350px;
    height : 90px;
  }

  .button-container {
    display: flex;
    justify-content: right;
    background-color :rgb(93, 150, 199);
    margin: 0 auto;
  }

  .form-field {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  .mat-avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 8px;
  }
  
  .mat-option {
    display: flex;
    align-items: center;
  }
  